.logo {
    clip-path: circle();
}

.glass {
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.cart-property{
    max-height: 60vh;
    overflow-y: auto;
}

.order-btn-properties{
    width: 60%;
    height: 10%;
}

.payment-method-properties{
    display: flex;
    justify-content: center;
}